Music things

<form action="<%= users_url %>" method="post">
  <label for="email">Email:</label>
  <input id="email" type="text" name="users[email]" value="">
  <br>

  <label for="password">Password:</label>
  <input id="password" type="password" name="users[password]" value="">

  <br>
  <input type="submit" name="submit_button" value="Create Account!">
</form>
